// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid { margin: 0px; padding: 0px; }

$top-div-height: 800px;

#top_div {
  height: $top-div-height;
  width: auto;
  background-color: image-url("background_1.jpg");
  overflow: hidden;
  background-repeat: repeat;
}

#joe_pic_slide_show {
  background-color: green;
}

body{
  background-color: lightblue;
  // background: image-url('herp.jpg') no-repeat center center;
}


#blog, #bio, #resume, #interests{
  display: inline;
  width: 110px;
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}

.social_media_icons {
  height: 100px;
}

#projects {
  height: 200px;
}

#projects.header {
  background-color: red;
}

.col-xs-1 {
  height: 30px;
  border: 1px solid red;
}



#projects{
  margin-top: 30px;
  background-color: #551A8B;
  height: 1000px;

}

.center
{
  text-align: center;
  vertical-align: center;
}




#formal_me_pics{
  height: $top-div-height;
  // width: auto;
  img
  {
    height: $top-div-height;
    width: auto;
  }
}








#business_card_container
{
  position: relative;
  top: 50%;
  // vertical-align: center;
  // text-align: center;
  padding: 0px;
  // margin: 0px;
  margin-top: $top-div-height;

  height: $top-div-height;
  width: auto;
  z-index: 1;
  overflow: hidden;
  perspective: 1000;
}

#business_card
{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  border: 4px silver inset;
}
#business_card_container:hover #business_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  // width: 100%;
  // height: 100%;

  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  background-color: #aaa;

}

