// screen sizes////////////
$lg-width: 1200px;
$md-high-end: 1199px;
$md-low-end: 992px;
$sm-high-end: 991px;
$sm-low-end: 768px;
$xs-high-end: 767px;
// screen sizes////////////


$banner-height: 300px;

$formal-images-height: 510px;
$formal-images-width: 355px;
$formal-images-border-thickness: 4px;
$formal-images-container-height: $formal-images-height + ($formal-images-border-thickness * 2);
$formal-images-container-width: $formal-images-width + ($formal-images-border-thickness * 2);

//

// PROJECT CONTAINER VARIABLES
// $projects-container-height: 800px;
$projects-container-width: 100%;
$projects-top-padding: 15px;
//


// BUSINESS CARD VARIABLES
$business-card-height: 247px;
$business-card-width: 433px;
$business-card-border-thickness: 4px;
$business-card-container-height: $business-card-height + ($business-card-border-thickness * 2);
$business-card-container-width: $business-card-width + ($business-card-border-thickness * 2);
//


// SVG VARIABLES
$banner-min-height: 200px;
$banner-max-width: 600px;
$banner-min-width: 400px;
$banner-max-height: 400px;
$svg-delay: .5s;
$name-font-size: 50px;
$what-i-does-font-size: 38px;
//

// TOP CONTAINER VARIABLES
$top-container-width: 100%;
$top-container-top-padding: ($banner-height / 2);
$formal-pics-top-padding-to-clear-topic-buttons: $top-container-top-padding + 75px; // the 75px is a guess at the right size....figure this out later



body p, body h1{
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 700;
}

//run in chrome
@-webkit-keyframes draw-intro{
  0% { stroke-dasharray: 1 4000 ;  fill: rgba(241, 158, 26,  0);  backface-visibility: visible;}
  75% { stroke-dasharray: 4000 1;  fill: rgba(241, 158, 26,  0);   backface-visibility: visible;}
  100% { stroke-dasharray: 4000 1; fill: rgba(241, 158, 26, .95);   backface-visibility: visible;}
}

// run in firefox
@keyframes draw-intro{
  0% { stroke-dasharray: 1 4000 ;  fill: rgba(241, 158, 26,  0);;   backface-visibility: visible;}
  75% { stroke-dasharray: 4000 1;  fill: rgba(241, 158, 26,  0);;   backface-visibility: visible;}
  100% { stroke-dasharray: 4000 1; fill: rgba(241, 158, 26, .95);   backface-visibility: visible;}
}

//run in chrome
@-webkit-keyframes draw-intro-reverse{
  0% { stroke-dasharray: 1 4000 1; fill: rgba(241, 158, 26, 0);   backface-visibility: visible;}
  75% { stroke-dasharray: 1 1 4000;  fill: rgba(241, 158, 26,  0);   backface-visibility: visible;}
  100% { stroke-dasharray: 1 1 4000 ;  fill: rgba(241, 158, 26,  .95);   backface-visibility: visible;}
}

// run in firefox
@keyframes draw-intro-reverse{
  0% { stroke-dasharray: 1 4000 1; fill: rgba(241, 158, 26, 0);  backface-visibility: visible;}
  75% { stroke-dasharray: 1 1 4000;  fill: rgba(241, 158, 26,  0);   backface-visibility: visible;}
  100% { stroke-dasharray: 1 1 4000 ;  fill: rgba(241, 158, 26,  .95);   backface-visibility: visible;}
}

#banner-row{
  z-index: 2;
  position: absolute;
  width: 100%;

  #banner-container{
    position: relative;
    bottom:   0px;
    width: 100%;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    #banner{
      height-max: $banner-height;
      font-weight: bold;
      min-height: $banner-min-height;
      min-width: $banner-min-width;
      max-width: $banner-max-width;
      margin: auto;


      svg{
        height: 100%;
        width: 100%;
        margin: auto;

        stroke: red;
        stroke-width: 5;
        stroke-dasharray: 0 2200;
        -webkit-animation-delay: $svg-delay;
                animation-delay: $svg-delay;

        #svg-path-1, #svg-path-2, #svg-path-3 {
          -webkit-animation: draw-intro 4s linear forwards;
                  animation: draw-intro 4s linear forwards;
          stroke: red;
          stroke-width: 5;
          stroke-dasharray: 4000;

          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

        }

        #svg-path-2 {
          -webkit-animation: draw-intro-reverse 4s linear forwards;
                  animation: draw-intro-reverse 4s linear forwards;
          stroke: red;
          stroke-width: 5;
          stroke-dasharray: 4000;

        }
        #svg-path-1{
        -webkit-animation-delay: $svg-delay;
                animation-delay: $svg-delay;
        }

        #svg-path-3{
        -webkit-animation-delay: $svg-delay + .6;
                animation-delay: $svg-delay + .6;
        }
      }

      #banner-text-container
      {
        position: absolute;
        top: 22%;
        width: 100%;
        max-width: $banner-max-width;
        text-align: center;
        vertical-align: middle;

        p#joe-noonan, p#what-i-does{
          margin-bottom: 0px;
          color: white;
          font-weight: bold;
          width: 100%;
          max-width: $banner-max-width;
          float: right;
        }

        #joe-noonan{ font-size: $name-font-size; }

        #what-i-does{ font-size: $what-i-does-font-size; }
      }
    }
    .move-up-topic {
      position: relative;
      top: -40px;
    }
    .topic{
      top: 5px;
      text-align: center;
      line-height: 25px;
      font-size: 20px;
    }
  }
}




#top-container {
  margin-top: $banner-min-height / 2;
  background: #fff image-url("background_1.jpg") repeat;
  padding: $top-container-top-padding 0px 50px 0px;

  #formal-pictures-container {
    border: $formal-images-border-thickness silver inset;
    height: $formal-images-container-height;
    width: $formal-images-container-width;
    margin: auto;

    img {
      height: $formal-images-height;
      width: $formal-images-width;
    }
  }

  .business-col{
    height: $formal-images-container-height;
  }


  .business-col:nth-child(2){
    min-width: $business-card-width + 8;
  }

  #business-card-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: $business-card-height / 2;
    height: $business-card-height + ($business-card-border-thickness * 2);
    width: $business-card-width + ($business-card-border-thickness * 2);

    perspective: 1000;

    #business-card {

      transform-style: preserve-3d;
      transition: all 1.0s linear;
      div {
        height: inherit;
        width: inherit;

        border: 4px silver inset;
      }
    }
  }

  #business-card-container:hover #business-card {
    transform: rotateY(180deg);
  }
  .face {
    position: absolute;
    backface-visibility: hidden;

    img{
      height: $business-card-height;
      width: $business-card-width;
    }
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
  }
}



#middle-portion{
  p{
    font-size: 30px;
  }
  #social-media-row{
    text-align: center;
    height: 50px;
  }
    display: inline;
}


//  formal picture move lower
@media screen and (max-width: $md-high-end) {
    #top-container {
        padding-top: $formal-pics-top-padding-to-clear-topic-buttons;
    }
}

//  formal picture move lower
@media screen and (max-width: 564px) { // number should be 510 but if 44px off for some reason!!??
    #banner p{
        font-size: 32px !important;
    }
}


// topics movieng
@media screen and (max-width: $md-high-end) {
  .move-up-topic, .topic {
    top: 0px !important;
  }
}


// Projects
#projects-container{
  padding-top: $projects-top-padding;
  background-color: #551A8B;

  width: $projects-container-width;
  color: white;


  h1{
    text-align: center;
    vertical-align: center;
    color: white;
    font-weight: bold;
    font-size: 70px;
  }

  #projects
  {

    #projects-side-column
    {
      color: black;
      font-weight: bold;
      padding: auto;
      height: 30px;

      text-align: center;
      vertical-align: center;

      .panel-group
      {
        text-decoration: none;

        .panel
        {
          .panel-heading
          {
            // background-color: orange; border: 3px red solid;
            .panel-title{ text-decoration: none; color: purple;  }
          }

          .panel-body
          {
            .glyphicon
            {
              position: absolute;
              left: 40%;
              display: inline-block;
              text-align: right;
            }

            .side-bar-listed-project-names
            {
              // p { max-width: 210px; }

              .glyphicon
              {
                visibility: hidden;
              }

              &:hover{

                cursor: pointer;

                .glyphicon-hand-right
                {
                  visibility: visible;
                }
              }

              .current-project{
                visibility: visible;
              }
            }


            .side-bar-listed-project-names.current-project
            {
              .glyphicon-folder-open
              {
                visibility: visible;
              }
              .glyphicon-hand-right
              {
                visibility: hidden;
              }
            }

            .side-bar-listed-project-names.current-project.unavailable
            {
              .glyphicon-folder-open
              {
                visibility: hidden;
              }
              .glyphicon-hand-right
              {
                visibility: hidden;
              }
              .glyphicon-ban-circle
              {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    #project-main
    {
        border: 3px white solid;
        border-radius: 5px;
        font-weight: 600;
        margin-bottom: 50px;


      .project-pictures
      {
        // background-color: red;
        max-height: 400px;
        max-width: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
        vertical-align: middle;
        text-align: center;

        img{
          max-width: 100%;
          max-height: 100%;
          height: auto;
          width: auto;
        }
      }

      #project-name
      {
      }

      #project-body
      {

        padding-top: 15px;
        vertical-align: middle;
        color: black;
        background-color: white;
        min-height: 200px;
        font-size: 16px;

        p:nth-of-type(1)
        {
          color: purple;
        }

        p:nth-of-type(2){
          padding-left: 15px;
          margin-bottom: 20px;
        }

        .glyphicon-folder-open { visibility: hidden; }
      }
    }
  }
}
