// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TOP CONTAINER VARIABLES
$top_container_height: 800px;
$top_container_width: 100%;

$formal_images_height: 510px;
$formal_images_width: 355px;
//

// PROJECT CONTAINER VARIABLES
$projects_container_height: 800px;
$projects-container-width: 100%;
$projects_top_padding: 300px;
//

// BUSINESS CARD VARIABLES
$business_card_height: 247px;
$business_card_width: 433px;
//


// SVG VARIABLES
$svg_height: 400px;
$svg_width: 700px; // $svg_max_width: 800px; // $svg_min_width: 400px;
$name_font_size: 50px;
$what_i_does_font_size: 38px;
//



.container-fluid { margin: 0px; padding: 0px; }




//  BUSINESS CARD
#top_container {
  background: #fff image-url("background_1.jpg") repeat;

  #formal_pictures_container {
    margin-bottom: 250px;;
    border: 2px silver inset;
    max-height: $top_container_height;
    height: $formal_images_height;
    width: $formal_images_width;
    margin: auto;

    img {
      height: $formal_images_height;
      width: $formal_images_width;
    }
  }


  #business_card_container {
    // position: absolute;
    height: $formal_images_height;
    width: $business_card_width;
    // padding: auto auto auto 0px;
    margin-top: ($projects_container_height / 2 - $business_card_height / 2);
    perspective: 1000;

    #business_card {

      transform-style: preserve-3d;
      transition: all 1.0s linear;
      div {
        height: inherit;
        width: inherit;

        border: 4px silver inset;
      }
    }
  }

  #business_card_container:hover #business_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {

    position: absolute;
    // width: 100%;
    // height: 100%;
    backface-visibility: hidden;

    img{
      height: $business_card_height;
      width: $business_card_width;
    }
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
  }
}



// body{
//   background-color: lightblue;
//   // background: image-url('herp.jpg') no-repeat center center;
// }





#banner_container{
    z-index: 3;
    position: absolute;
    top: $top_container_height - ($svg_height / 2);
    width: $svg_width;
    margin: auto;
    overflow: hidden;


    #banner_text_container {
      // max-width: 800px;
      // margin-right: auto;
      // margin-left: auto;
      position: absolute;
      top: 0px;
      max-width: $svg_width;
      height: $svg_height;


      p#joe_noonan, p#what_i_does{
        position: absolute;
        margin-bottom: 0px;
        height: $svg_height / 2;
        color: white;
        font-weight: bold;
        bottom: 0px;
        // text-align: bottom !important;
        // vertical-align: middle !important;
      }

      #joe_noonan{
        // top: ($svg_height / 2) - ($name_font_size / 2);
        font-size: $name_font_size;
        background-color: green;
      }
      #what_i_does{
        font-size: $what_i_does_font_size;
        background-color: orange;
        top: ($svg_height / 2)
      }
    }
    svg{
      position: absolute;
      height: $svg_height;
      width: $svg_width;
      stroke:red;
      stroke-width: 5;
      stroke-dasharray: 0 3000;
      opacity:0.9;
      -webkit-animation: draw_intro 3s 1;  // animation-name: draw_intro;
      -webkit-animation-timing-function: linear;
      // animation-delay: 11s;
      // animation-play-state: running;
      // animation-iteration-count: 3;
      // animation-direction: normal;
      // animation-duration: 5s;
    }
}

@keyframes draw_intro{
  0% { stroke-dasharray: 1 2200 ;     fill: rgba(0, 0, 0,  0); }
  75% { stroke-dasharray: 2200 2200;  fill: rgba(0, 0, 0,  0);}
  100% { stroke-dasharray: 2200 2200; fill: rgba(0, 0, 0, .9); }
}











#middle_portion{
  #blog, #bio, #resume, #interests{
    display: inline;
    width: 110px;
    line-height: 25px;
    font-weight: 700;
    font-size: 20px;
  }

  .social_media_icons {
    height: 100px;
  }
}














// Projects
#projects_container{
  padding-top: $projects_top_padding;
  background-color: #551A8B;

  height: $projects_container_height;
  width: $projects-container-width;

  h1{
    text-align: center;
    vertical-align: center;
    color: white;
    font-weight: bold;
  }

  #projects
  {
    #projects_side_column {
      height: $projects_container_height;

      .coding_language {
        padding: auto;
        height: 30px;
        display: block;
        background-color: orange;
        color: black;
        text-align: center;
        vertical-align: center;
        border-bottom: 2px black solid;
      }
      .coding_language:last-child {
        border-bottom: 0px black solid;
      }
      .coding_language:hover {

      }
      .coding_language.active{
        background-color: purple;
      }
    }

    #project_title {
      background-color: red;
    }

    #project_body{
      background-color: green;
    }
  }
}




