// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$top-container-height: 800px;
$top-container-width: 1000px;

$projects-container-height: 800px;
$projects-container-width: 1000px;
$projects-top-padding: 300px;

$business_card_height: 281px;
$business_card_width: 480px;


svg{
  z-index: 11;
  position: relative;
  top: -225px;

  fill:red;
  stroke:black;
  stroke-width:5;
  opacity:0.9;
}

.container-fluid { margin: 0px; padding: 0px; }



#top_div {
  height: $top-container-height;
  width: 1000;
  background: #fff image-url("background_1.jpg");
  overflow: hidden;
  background-repeat: repeat;
}

#joe_pic_slide_show {
  background-color: green;
}

body{
  background-color: lightblue;
  // background: image-url('herp.jpg') no-repeat center center;
}


#blog, #bio, #resume, #interests{
  display: inline;
  width: 110px;
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}

.social_media_icons {
  height: 100px;
}








.col-xs-1 {
  height: 30px;
  border: 1px solid red;
}

.center
{
  text-align: center;
  vertical-align: center;
}


#formal_me_pics{
  height: $top-container-height;
  width: $top-container-width;
  img
  {
    height: $top-container-height;
    width: $top-container-width;
  }
}










#projects_container{
  padding-top: $projects-top-padding;
  background-color: #551A8B;

  height: $projects-container-height;

  h1{
    text-align: center;
    vertical-align: center;
    color: white;
    font-weight: bold;
  }

  #projects
  {
    #projects_side_column {
      height: $projects-container-height;

      .coding_language {
        padding: auto;
        height: 30px;
        display: block;
        background-color: orange;
        color: black;
        text-align: center;
        vertical-align: center;
        border-bottom: 2px black solid;
      }
      .coding_language:last-child {
        border-bottom: 0px black solid;
      }
      .coding_language:hover {

      }
      .coding_language.active{
        background-color: purple;

      }
    }

    #project_title {
      background-color: red;
    }

    #project_body{
      background-color: green;
    }
  }
}






// <ul class="list_of_coding_languages">
//   <% @coding_languages.each do |coding_language| %>
//     <li class="coding_language">
//       <span><%= coding_language %></span>
//     </li>
//   <% end %>
// </ul>











// Flipping content
// Flipping a simple image to a div (transitions and 3d transforms)
// Plan
// Put an image on top of a div inside a container.
// Put that in another container with perspective defined.
// When hovering on the outside container, add a rotate around the Y axis to the inside container.
// Demo

// This is nice for exposing more information about an image.

// Any content can go here.

// Code
// First, the markup.

// <div id="business_card_container">
// <div id="business_card" class="shadow">
//   <div class="front face">
//     <img src="/images/Cirques.jpg"/>
//   </div>
//   <div class="back face center">
//     <p>This is nice for exposing more information about an image.</p>
//     <p>Any content can go here.</p>
//   </div>
// </div>
// </div>
// Then the CSS, stripped of the vendor prefixes to keep it clean.

#business_card_container {
  position: relative;
  height: $business_card_height;
  width: $business_card_width;
  margin: 0px auto;
  top: $projects-container-height / 2 - $business_card_height / 2;

}
#business_card_container {
  perspective: 1000;
}
#business_card {

  // width: 100%;
  // height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  div {
    border: 4px silver inset;
  }
}
#business_card_container:hover #business_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  // text-align: center;
  // background-color: #aaa;
}

