/* line 7, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/resume/resume.css.scss */
a {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
/* line 13, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/resume/resume.css.scss */
a div {
  border: 3px blue inset;
  z-index: 1;
  height: 100px;
  width: 100px;
}
/* line 19, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/resume/resume.css.scss */
a div img {
  height: 100px;
  width: 100px;
}
