/* line 1, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
h6 {
  color: purple !important;
  background-color: green !important;
}

/* line 8, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
body {
  background: url(/assets/blog/lap.jpg) no-repeat center center;
}

@font-face {
  font-family: joe_font;
  src: url(Joe_Font_4.ttf);
}

/* line 16, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
.joe-font {
  font-family: joe_font;
  color: green;
  font-size: 30px;
}

/* line 24, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#comments_page, #entries_page {
  padding-top: 35px;
}

/* line 31, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book {
  height: 800px;
}
/* line 36, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page > h1 {
  text-align: center;
}
/* line 40, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #new_comment {
  margin-top: 25px;
}
/* line 43, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #back_arrows {
  position: absolute;
  top: 45px;
  left: 15px;
  z-index: 2;
}
/* line 51, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #back_arrow, #blog_site #blog_book #comments_page #back_double_arrow {
  float: left;
  margin-bottom: 0px;
  display: inline;
}
/* line 58, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list {
  margin-top: 30px;
  height: 415px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 65, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment {
  min-height: 45px;
  border-radius: 10px;
}
/* line 75, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .comments_body {
  margin: 0px;
  font-size: 16px;
}
/* line 77, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .comments_body p {
  margin: 0px;
}
/* line 82, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .comment_author_name {
  text-align: right;
  font-size: 14px;
}
/* line 87, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .log_date_time {
  text-align: left;
  font-size: 14px;
}
/* line 98, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #forward_arrows {
  position: absolute;
  top: 45px;
  right: 15px;
  z-index: 2;
}
/* line 107, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #forward_arrow, #blog_site #blog_book #entries_page #forward_double_arrow {
  float: right;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-bottom: 0px;
  display: inline;
}
/* line 121, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #entry_title {
  text-align: center;
  margin-bottom: 0px;
}
/* line 128, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #entry_body {
  height: 595px;
  overflow: scroll;
}
/* line 135, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #page_number {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 18px;
}
/* line 142, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book .log_date {
  font-size: 16px;
}

/* line 148, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#prev_site {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 40px;
}

/* line 156, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
.log_date_time {
  font-size: 15px;
  margin-top: 0px;
}

/* line 162, /Users/user/coding/ruby/rails/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
.hidden {
  visibility: hidden;
}
