/* line 1, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
body {
  background: url(/assets/blog/desktop-a7604d6b9302b39dbaec71b83bf7d30d425907732764d7231b91dbfd9af16fe0.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@font-face {
  font-family: joe_font;
  src: url(/assets/Joe_Font_4-c4df3cf379f23ac4ea28e4a32f4a12909d0f73d2297180439223f6deb73eb647.ttf);
}
/* line 12, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
.joe-font {
  font-family: joe_font;
  color: green;
  font-size: 24px;
}

/* line 18, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#comments_page, #entries_page {
  padding-top: 35px;
}

/* line 20, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site {
  background: url(/assets/blog/OpenBook-4807147ae09be6619bdf12bb9ef3965f649d99f34cb8155e733839b4b03ff32e.jpg) no-repeat center center;
}
/* line 24, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book {
  height: 800px;
}
/* line 30, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page > h1 {
  text-align: center;
}
/* line 34, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #new_comment {
  margin-top: 25px;
}
/* line 36, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #back_arrows {
  position: absolute;
  top: 45px;
  left: 15px;
  z-index: 2;
}
/* line 44, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #back_arrow, #blog_site #blog_book #comments_page #back_double_arrow {
  float: left;
  margin-bottom: 0px;
  display: inline;
}
/* line 51, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list {
  margin-top: 30px;
  height: 415px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 58, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment {
  min-height: 45px;
  border-radius: 10px;
}
/* line 63, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .comments_body {
  margin: 0px;
  font-size: 16px;
}
/* line 66, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .comments_body p {
  margin: 0px;
}
/* line 70, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .comment_author_name {
  text-align: right;
  font-size: 14px;
}
/* line 76, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #comments_page #comments_list .comment .log_date_time {
  text-align: left;
  font-size: 14px;
}
/* line 86, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #forward_arrows {
  position: absolute;
  top: 45px;
  right: 15px;
  z-index: 2;
}
/* line 94, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #forward_arrow, #blog_site #blog_book #entries_page #forward_double_arrow {
  float: right;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-bottom: 0px;
  display: inline;
}
/* line 105, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #entry_title {
  text-align: center;
  margin-bottom: 0px;
}
/* line 112, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #entries_page #entry_body {
  height: 595px;
  overflow: scroll;
}
/* line 119, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book #page_number {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 18px;
}
/* line 127, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#blog_site #blog_book .log_date {
  font-size: 16px;
}

/* line 131, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
#prev_site {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 40px;
}

/* line 139, /Users/joe/Dropbox/coding/coding/ruby/rails/wip/rails5/upgrade_personal_site/app/assets/stylesheets/blog/blog_stylesheet.css.scss */
.log_date_time {
  font-size: 15px;
  margin-top: 0px;
}
