/* line 56, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
body p, body h1 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 700;
}

@-webkit-keyframes draw-intro {
  /* line 63, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  0% {
    stroke-dasharray: 1 4000;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 64, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  75% {
    stroke-dasharray: 4000 1;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 65, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  100% {
    stroke-dasharray: 4000 1;
    fill: rgba(241, 158, 26, 0.95);
    visibility: visible;
  }
}

@keyframes draw-intro {
  /* line 70, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  0% {
    stroke-dasharray: 1 4000;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 71, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  75% {
    stroke-dasharray: 4000 1;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 72, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  100% {
    stroke-dasharray: 4000 1;
    fill: rgba(241, 158, 26, 0.95);
    visibility: visible;
  }
}

@-webkit-keyframes draw-intro-reverse {
  /* line 77, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  0% {
    stroke-dasharray: 1 4000 1;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 78, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  75% {
    stroke-dasharray: 1 1 4000;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 79, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  100% {
    stroke-dasharray: 1 1 4000;
    fill: rgba(241, 158, 26, 0.95);
    visibility: visible;
  }
}

@keyframes draw-intro-reverse {
  /* line 84, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  0% {
    stroke-dasharray: 1 4000 1;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 85, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  75% {
    stroke-dasharray: 1 1 4000;
    fill: rgba(241, 158, 26, 0);
    visibility: visible;
  }

  /* line 86, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  100% {
    stroke-dasharray: 1 1 4000;
    fill: rgba(241, 158, 26, 0.95);
    visibility: visible;
  }
}

/* line 89, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row {
  z-index: 2;
  position: absolute;
  width: 100%;
}
/* line 94, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container {
  position: relative;
  bottom: 0px;
  width: 100%;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
/* line 102, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner {
  height-max: 300px;
  font-weight: bold;
  min-height: 200px;
  min-width: 400px;
  max-width: 600px;
  margin: auto;
}
/* line 110, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner svg {
  height: 100%;
  width: 100%;
  margin: auto;
  stroke: red;
  stroke-width: 5;
  stroke-dasharray: 0 2200;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 121, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner svg #svg-path-1, #banner-row #banner-container #banner svg #svg-path-3 {
  -webkit-animation: draw-intro 4s linear forwards;
  animation: draw-intro 4s linear forwards;
  stroke: red;
  stroke-width: 5;
  stroke-dasharray: 4000;
}
/* line 129, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner svg #svg-path-2 {
  -webkit-animation: draw-intro-reverse 4s linear forwards;
  animation: draw-intro-reverse 4s linear forwards;
  stroke: red;
  stroke-width: 5;
  stroke-dasharray: 4000;
}
/* line 137, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner svg #svg-path-1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 142, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner svg #svg-path-3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 149, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner #banner-text-container {
  position: absolute;
  top: 22%;
  width: 100%;
  max-width: 600px;
  text-align: center;
  vertical-align: middle;
}
/* line 157, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner #banner-text-container p#joe-noonan, #banner-row #banner-container #banner #banner-text-container p#what-i-does {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
  width: 100%;
  max-width: 600px;
  float: right;
}
/* line 166, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner #banner-text-container #joe-noonan {
  font-size: 50px;
}
/* line 168, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container #banner #banner-text-container #what-i-does {
  font-size: 38px;
}
/* line 171, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container .move-up-topic {
  position: relative;
  top: -40px;
}
/* line 175, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#banner-row #banner-container .topic {
  top: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

/* line 183, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container {
  margin-top: 100px;
  padding: 150px 0px 50px 0px;
}
/* line 188, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container #formal-pictures-container {
  border: 4px silver inset;
  height: 518px;
  width: 363px;
  margin: auto;
}
/* line 194, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container #formal-pictures-container img {
  height: 510px;
  width: 355px;
}
/* line 200, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container .business-col {
  height: 518px;
}
/* line 205, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container .business-col:nth-child(2) {
  min-width: 441px;
}
/* line 209, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container #business-card-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 123.5px;
  height: 255px;
  width: 441px;
  perspective: 1000;
}
/* line 218, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container #business-card-container #business-card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
/* line 222, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container #business-card-container #business-card div {
  height: inherit;
  width: inherit;
  border: 4px silver inset;
}
/* line 231, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container #business-card-container:hover #business-card {
  transform: rotateY(180deg);
}
/* line 234, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container .face {
  position: absolute;
  backface-visibility: hidden;
}
/* line 238, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container .face img {
  height: 247px;
  width: 433px;
}
/* line 243, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#top-container .face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}

/* line 253, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#middle-portion {
  display: inline;
}
/* line 254, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#middle-portion p {
  font-size: 30px;
}
/* line 257, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#middle-portion #social-media-row {
  text-align: center;
  height: 50px;
}
/* line 262, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#middle-portion #project-github-link, #middle-portion #project-live-link {
  height: 50px;
  width: 50px;
  display: inline;
  visibility: hidden;
}

@media screen and (max-width: 1199px) {
  /* line 274, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  #top-container {
    padding-top: 225px;
  }
}
@media screen and (max-width: 564px) {
  /* line 281, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  #banner p {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 1199px) {
  /* line 289, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
  .move-up-topic, .topic {
    top: 0px !important;
  }
}
/* line 296, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container {
  padding-top: 15px;
  background-color: #551A8B;
  width: 100%;
  color: white;
}
/* line 304, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container h1 {
  text-align: center;
  vertical-align: center;
  color: white;
  font-weight: bold;
  font-size: 70px;
}
/* line 316, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column {
  color: black;
  font-weight: bold;
  padding: auto;
  height: 30px;
  text-align: center;
  vertical-align: center;
}
/* line 326, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group {
  text-decoration: none;
}
/* line 333, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-heading .panel-title {
  text-decoration: none;
  color: purple;
}
/* line 339, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .glyphicon {
  position: absolute;
  left: 40%;
  display: inline-block;
  text-align: right;
}
/* line 351, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names .glyphicon {
  visibility: hidden;
}
/* line 355, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names:hover {
  cursor: pointer;
}
/* line 360, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names:hover .glyphicon-hand-right {
  visibility: visible;
}
/* line 365, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names .current-project {
  visibility: visible;
}
/* line 374, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names.current-project .glyphicon-folder-open {
  visibility: visible;
}
/* line 378, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names.current-project .glyphicon-hand-right {
  visibility: hidden;
}
/* line 386, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names.current-project.unavailable .glyphicon-folder-open {
  visibility: hidden;
}
/* line 390, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names.current-project.unavailable .glyphicon-hand-right {
  visibility: hidden;
}
/* line 394, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #projects-side-column .panel-group .panel .panel-body .side-bar-listed-project-names.current-project.unavailable .glyphicon-ban-circle {
  visibility: visible;
}
/* line 404, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main {
  border: 3px white solid;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 50px;
}
/* line 411, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main .project-pictures-container {
  margin: auto;
}
/* line 415, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main .project-pictures-container .project-pictures {
  position: relative;
  max-height: 400px;
  height: 400px;
  max-width: 90%;
  text-align: center;
}
/* line 425, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main .project-pictures-container .project-pictures img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: auto;
  margin-bottom: auto;
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
}
/* line 444, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main #project-body {
  padding-top: 15px;
  vertical-align: middle;
  color: black;
  background-color: white;
  min-height: 200px;
  font-size: 16px;
}
/* line 454, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main #project-body p:nth-of-type(1) {
  color: purple;
}
/* line 458, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main #project-body p:nth-of-type(2) {
  padding-left: 15px;
  margin-bottom: 20px;
}
/* line 463, /Users/user/coding/ruby/rails/finished/upgrade_personal_site/app/assets/stylesheets/home/homes.css.scss.erb */
#projects-container #projects #project-main #project-body .glyphicon-folder-open {
  visibility: hidden;
}
