body
{
   background: image-url('blog/lap.jpg')  no-repeat center center;
}
 @font-face {
    font-family: joe_font;
    src: asset-url('Joe_Font_4.ttf');
  }

.joe-font{
  font-family: joe_font;
  color: green;
  font-size: 24px;
}

#comments_page, #entries_page { padding-top: 35px; }

#blog_site
{
  background: image-url('blog/OpenBook.jpg') no-repeat center center;

  #blog_book
  {
    height: 800px;

    #comments_page
    {
      & > h1{
        text-align: center;
      }

      #new_comment { margin-top: 25px; }

      #back_arrows
      {
        position: absolute;
        top: 45px;
        left: 15px;
        z-index: 2;
      }

      #back_arrow, #back_double_arrow
      {
        float: left;
        margin-bottom: 0px;
        display: inline;
      }

      #comments_list
      {
        margin-top: 30px;
        height: 415px;
        overflow-y: scroll;
        overflow-x: hidden;

        .comment
        {
          // overflow: auto;
          min-height: 45px;
          border-radius: 10px;
          // & > :even {
          //   background-color: rgba(255,255,255, .3);
          // }


          .comments_body
          {
            margin: 0px;
            p { margin: 0px; }
            font-size: 16px;
          }

          .comment_author_name
          {
            text-align: right;
            font-size: 14px;
          }

          .log_date_time {
            text-align: left;
            font-size: 14px;
          }
        }
      }
    }

    #entries_page
    {
      #forward_arrows
      {
        position: absolute;
        top: 45px;
        right: 15px;
        z-index: 2;
      }


      #forward_arrow, #forward_double_arrow
      {
        float: right;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);

        // position: absolute;
        // margin-top: 60px;
        margin-bottom: 0px;
        display: inline;
        // width: inherit;
      }

      #entry_title
      {
        text-align: center;
        margin-bottom: 0px;
      }


      #entry_body
      {
        height: 595px;
        overflow: scroll;
      }
    }

    #page_number
    {
      position: absolute;
      right: 0px;
      bottom: 0px;
      font-size: 18px;
    }

    .log_date { font-size: 16px; }
  }
}


#prev_site
{
  display: inline-block;
  position: absolute ;
  top: 40px;
  left: 40px;
}

.log_date_time
{
  font-size: 15px;
  margin-top: 0px;
}


.hidden { visibility: hidden; }
