#forward_arrow{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#entry_body{

}

#blog_site {
  background: #fff333 url('../OpenBook.jpg') no-repeat center center;
  margin: auto 10%;
  // height: 800px;
  // height: inherit;
  // width: inherit;

  h1 {
    text-align: center;
    // position: fixed;
  }
}

#entries_page{
  overflow: scroll;

}

#back_button{
  display: block;
}
