// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#top_div {
  height: 500px;
  width: 100%;
  background-color: black;
}

#joe_pic_slide_show {
  background-color: green;
}

#business_card {
  width: 250px;
  height: 150px;
  background-color: green;
}

body{
  background-color: lightblue;
// background-image: url(../../social_media/facebook.png);
}

