// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#top_div {
  height: 600px;
  width: 100%;
  background-color: black;
}

#joe_pic_slide_show {
  background-color: green;
}

#business_card {
  width: 250px;
  height: 150px;
  background-color: green;
}

body{
  background-color: lightblue;
// background-image: url(../../social_media/facebook.png);
}


#blog, #bio, #resume, #interests{
  display: inline;
  width: 110px;
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}

.social_media_icons {
  height: 100px;
}

#projects {
  height: 200px;
}

#projects.header {
  background-color: red;
}

.col-xs-1 {
  height: 30px;
  border: 1px solid red;
}
