<div class="container-fluid">
  <div id="top_container">
<!--     <div class="row">
      <div class="col-xs-12 col-sm-12" id="toptop"> -->

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 business_col">
            <div id="formal_pictures_container"><%= image_tag "Formal_Me/1.jpg" %></div>
          </div>

          <div class="clearfix visible-xs-block visible-sm-block"></div>

          <div class="col-xs-12 col-sm-12 col-md-5 business_col" >
            <div id="business_card_container">
              <div id="business_card" class="shadow">
                <div class="front face">
                  <%= image_tag "Formal_Me/business_card_front_big.jpg" %>
                </div>
                <div class="back face">
                  <%= image_tag "Formal_Me/business_card_back_big.jpg"%>
                </div>
              </div>
            </div>
          </div>
      <!--   </div>
      </div> -->
    </div>

     <!-- <div class="clearfix visible-xs-block"></div> -->
  </div>


  <div id="banner_container">
    <div id="banner">
      <svg z-index="1" >
        <polygon points="0,0 150,400 650,400 800,0" />
      </svg>

      <div id="banner_text_container">
        <p id="joe_noonan">Joe Noonan</p>
        <p id="what_i_does">Web Developer</p>
      <div>

    </div>
  </div>

</div>

